{% extends 'all/main.html' %}


{% block content %}
<body> 

<hr><hr><br>

<p style="font-family: monospace; color: rgb(28, 155, 155); text-align: center;font-size: xx-large;">
    This is my gallery app.<br><br> It was created using Django, a python framework.<br><br>
    It keeps me connected to the past experiences in my life. <br><br>There is nothing that brings history to reality more than a captured<br><br> moment in a photo.
</p>

</body>
<style>
 body
 {background-image:url("/media/yellow.jpg");

 background-size:cover;
 
 background-repeat:no-repeat;}

</style>


{% endblock %}
