
{% extends 'all/main.html' %}


{% block content %} 

<style>
    /* body{
      background-image: url("https://images.unsplash.com/photo-1565004569929-4f400c11e9ef?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fGNoYW1lbGVvbiUyMHBob3RvZ3JhcGh5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    } */
    </style>


<header style="padding-top:8rem;">
    <div class="container" style="text-align: center;">
        <div class="masthead-subheading" style="font-size: 7rem; color: rgb(1, 255, 149); font-family: san-serif;"><b>Welcome To My Gallery App!</b></div><br>
        <div class="masthead-heading text-uppercase" style="font-size: 4rem; color: whitesmoke; font-family: monospace;"><b>It's Nice To Meet You</b></div><br><br>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="images">welcome to my Gallery</a><br><br><br>
    </div>
</header>


{% endblock %}