{% extends 'all/main.html' %}
{% block content %}

<style>
  body {
    /* background-image: url("/media/meric-dagli-qeeHCFEPXp0-unsplash.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: blue; */
    z-index: -1;
  }
</style>
<br><br><br>

<div class="container">
  <h2 style="text-align: center; font-family: monospace;">My Gallery</h2>
  <!-- Looping through images   -->
  {% for love in images %}
  <!--Display all images  -->
  <div class="view overlay">
    <div class="col-md-4">
      <div class="card ">
        <button class="btn btn-styled" data-toggle="modal" data-target="#myModal{{image.id}}">
          <img src="{{love.image.url}}" alt="{{image.name}}" class="img-responsive img-fluid img-thumbnail "
            style="width: 450px;height:250px">
        </button>
      </div>

    </div>
  </div>

  <div class="modal fade " id="myModal{{image.id}}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content modalcard">
        <div class="modal-header">
          <h5 class="modal-title" id="imageheader">{{love.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <img src="{{love.image.url}}" alt="{{image.name}}" class="img-fluid" width="200px">
        </div>

        <div class="modal-footer">
          <p class="image-location">Location ~ {{love.image_location}}</p>
          <p class="image-location">Category ~ {{love.image_category}}</p>
          <p class="image-location">Date on ~ {{ love.date_created }}</p>
        </div>

        <div class="modal-footer">
          <input class="form-control input-lg" type="text" value="{{love.image.url}}" id="{{image.id}}.url">
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close
          </button>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>



{% endblock content %}